/**********************************
Primary Colors 
**********************************/
$third_jungle-green: #22ad96;
$secondary_jungle-green: #20AD96;
$primary_white: #fefefe;
$primary_mulled-wine: #513e5e;
$primary--background: #E9E6E3;
$third_oslo-gray: #959999;
$third_gray: #888;
$secondary--background: #ffff;
$primary_black: #000;
$third_bg: #F8F9FA;
$fourth: #f8f8f8;
$shadow: #62C5B5;
$primary_cod-gray: #0e0e0e;