/**********************************
Primary Colors (Color Cube)
**********************************/
$primary_white: #fefefe;
$primary_cerulean: #01afc8;
$primary_blue-haze: #b6b8d1;
$primary_amaranth: #e7385f;
$primary_cod-gray: #0e0e0e;
$primary_mulled-wine: #513e5e;
$primary_pizazz: #fb9301;
$primary_green-haze: #01aa51;
$primary_pharlap: #a08778;
$primary_koromiko: #ffc869;
$primary--background: #E9E6E3;

/**********************************
Secondary Colors (Median Cut)
**********************************/
$secondary_gallery: #f0efef;
$secondary_spectra: #345e60;
$secondary_fuzzy-wuzzy-brown: #c04a57;
$secondary_pewter: #96a6a5;
$secondary_golden-grass: #de912a;


/**********************************
Third Colors (Material Design)
**********************************/
// Vibrant
$third_carrot-orange: #f29518;
// Muted
$third_oslo-gray: #959999;
// Dark Vibrant
$third_jungle-green: #22ad96;
// Dark Muted
$third_viridian: #458d76;
// Light Vibrant
$third_cerise-red: #e23c5d;